output/
samples/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.tmp
*.temp
*.log
*.env
.env
venv/
.env.*
*.ini
*.sqlite3
*.db
*.bak
*.old
*.orig
.DS_Store
Thumbs.db
.vscode/
.idea/
tesserocr-2.8.0-cp313-cp313-win_amd64.whl